.wrapper {
    background-color: #3772FF;
    padding: 32px;
    box-sizing: border-box;
    max-width: 112px;
    transition: max-width .3s;
    box-shadow: 0px 0px 0px #3772FF;
    
    >div:first-child {
        cursor: pointer;
    }
    
    &::-webkit-scrollbar {
        display: none;
    }

    >div:last-child {
        margin-top: 64px;
    }
}

.active {
    max-width: 270px;
    transition: max-width .5s;
    box-shadow: 30px 0px 0px #3772FF;

    >div {
        animation: fade .4s ease-in-out
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}